<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <form action="#" method="post" v-on:submit.prevent="register">
            {{message}}
            <input v-model="email" type="email" name="email" class="input" placoholder="email">
            <input v-model="password" type="password" name="password" class="input" placeholder="password">


            <button>
                Войти
            </button>
        </form>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>


</body>

</html>